<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <title>Movie</title>
        <style>
            body{
                margin: 0px;
            }
            .movie{
                width: 80%;
                margin-top: 65px;
            }

        </style>
    </head>
    <body>
        <header class="header container-fluid bg-dark ">
            <div class="row">
                <div class="col-sm-2">
                    <a class="link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       href="/admin" style="padding: 25px;display:block;">Main</a>
                </div>
                <div class="col-sm-2">
                    <a class="link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       href="/admin/movie" style="padding: 25px;display:block;">Back to list</a>
                </div>
            </div>
        </header>

        <div th:if="${movieIsPresent}"
             class="movie container">
            <div class="row">
                <h3 class="col-md-2">Movie id = [[${movie.getId()}]]</h3>
                <form class="edit-btn col-md-4" th:method="GET" th:action="@{/admin/movie/{id}/edit(id=${movie.getId()})}">
                    <input class="btn btn-dark" type="submit" value="Edit"/>
                </form>
                <form class="delete-btn col-md-2 offset-4" th:method="DELETE" th:action="@{/admin/movie/{id}(id=${movie.getId()})}">
                    <input class="btn btn-outline-danger" type="submit" value="Delete"/>
                </form>
            </div>
            <div class="row">
                <div th:with="movieDetails=${movie.getDetailsEn()}" class="movie-details movie-details-en col-md-4">
                    <img th:src="@{'data:image/jpeg;base64,'+${movieDetails.generateBase64Image()}}"/>
                    <h3 th:text="${movieDetails.getName()}">Name</h3>
                    <span th:text="${movieDetails.getGenre()}">Genre</span>
                    <span th:text="${movieDetails.getYearOfRelease()}">Year of release</span>
                    <p th:text="${movieDetails.getDescription()}">Description</p>
                </div>
                <div th:with="movieDetails=${movie.getDetailsUa()}" class="movie-details movie-details-ua col-md-4">
                    <img th:src="@{'data:image/jpeg;base64,'+${movieDetails.generateBase64Image()}}"/>
                    <h3 th:text="${movieDetails.getName()}">Name</h3>
                    <span th:text="${movieDetails.getGenre()}">Genre</span>
                    <span th:text="${movieDetails.getYearOfRelease()}">Year of release</span>
                    <p th:text="${movieDetails.getDescription()}">Description</p>
                </div>
                <div th:with="movieDetails=${movie.getDetailsRu()}" class="movie-details movie-details-ru col-md-4">
                    <img th:src="@{'data:image/jpeg;base64,'+${movieDetails.generateBase64Image()}}"/>
                    <h3 th:text="${movieDetails.getName()}">Name</h3>
                    <span th:text="${movieDetails.getGenre()}">Genre</span>
                    <span th:text="${movieDetails.getYearOfRelease()}">Year of release</span>
                    <p th:text="${movieDetails.getDescription()}">Description</p>
                </div>
            </div>
        </div>
        >

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
    </body>
</html>